body {
	background: #FFFFFF url(../images/bg.png) repeat center;
	font-family: Arial, Helvetica, sans-serif;
}
.btn-warning {
	display: block;
	overflow: auto;
	height: auto;
}
.container {
	margin-top: 50px;
}
#timer {
	color: red;
}